# The ubiquitous DS_Store files from Apple OS
.DS_Store

# This one
r.js
.npmignore
video
xtension
policy_templates
raspi-example-gpio-first-orig.c
raspi-example-gpio-orig.c
raspi-example-gpio.c
tranter.c
coopted-led-example-gpio-num.c
coopted-led-example-gpio.c
*.max.js
*.min.js
*.max.css
*.min.css
*.mingz.js
*.minbr.js
*compiled.css
*.ico
*.xml
*.jpg
*kiys.js
*.rtf
*.png
*-sav.js
*-old.js
*-sav.c
*-old.c
*-right.js
*-wrong.js
*-back.svg
*source.html
*-sav.htm
*-old.htm
*-max.htm
*.max.htm
*cmds.txt
*resp.txt
*out.txt
*problem.txt
*old.txt
*sav.txt
*[a-z][a-z][a-z]_[a-z][a-z][0-9].jpg
[a-z][a-z][a-z][a-z][a-z][a-z][0-9].jpg
lubuntu-16.04.1-alternate-amd64.iso

